.cell {
   width: 30px;
   height: 30px;
   background: #46ccff;
   display: inline-block;
   float: left;
   margin-right: 5px;
   margin-bottom: 5px;
   position: relative;
}
.hide {
   background: #fff;
}
.hasItem:before {
   content: 'O';
   position: absolute;
   top: 15%;
   left: 27%;
   z-index: -1;
   background: #000;
   border-radius: 50%;
   border: 1px solid;
}
.hide.hasItem:before {
   z-index: 1;
}
